:root {
  font-size: 12px;
  --paintit-base: #f3e9ee;
  --paintit-base-darker: #f77fbe;
  --paintit-accent: #b7ab9f;
  --paintit-dark: #121212;
  --paintit-text: #f7f7f7;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Patua One", cursive;
  background: var(--paintit-base);
}
.bezels {
  background: var(--paintit-base);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-title {
    margin-bottom: 4rem;
    h1 {
      margin: 0;
      font-size: 4em;
    }
    span {
      color: var(--paintit-base-accent);
      display: block;
      font-size: 1em;
      margin-top: -0.8rem;
    }
  }

  .drawing-container {
    background: $primary-text;
    box-shadow: 0 0 5px 10px var(--paintit-accent);
    width: 60%;
    min-width: 25rem;
    aspect-ratio: 1;
    display: grid;
    div {
      background: black;
    }
    .paint-it {
      background: var(--paintit-base);
    }
  }
  .dashboard {
    padding: 2rem;
    position: relative;
    box-shadow: 0 0 5px 10px var(--paintit-accent);
    font-size: 1rem;
    background: #121212;
    width: 60%;
    min-width: 20rem;
    color: white;
    white-space: nowrap;
    border-radius: 10px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    input {
      display: block;
      margin: auto;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      input {
        display: inline;
        margin: 0.4rem 0;
      }
      span {
        font-size: 0.5em;
      }
      label {
        font-size: 1em;
        margin-right: 0.5rem;
      }
    }
    button {
      width: 40%;
      color: black;
      background: white;
      font-size: 1em;
      font-weight: 500;
      grid-area: button;
      margin-top: 1.5rem;
    }
    a {
      fill: black;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 2em;
      height: 2em;
      svg {
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
@media (min-width: 576px) {
  .wrapper {
    input {
      display: inline;
      margin-right: 0.2rem;
    }
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 12px;
    .bezels {
      margin-top: 10rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5rem;

      .main-title {
        position: absolute;
        top: 2rem;
        margin: auto;
      }

      .drawing-container {
        width: 60%;
        max-width: 30rem;
      }
      .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        width: 30%;
        max-width: 450px;
        min-width: min-content;
        padding: 1rem 2rem;
        margin: 0;
        input[type="number"] {
          display: block;
          margin-right: auto;
          margin-left: auto;
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
        }
        .wrapper {
          display: block;
          .input_group {
            margin-top: 1rem;
            align-self: flex-start;
            display: block;
          }
          .input_group:first-of-type {
            margin: 0;
            align-self: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
    .drawing-container {
      width: 60%;
      max-width: 40rem;
    }
    .dashboard {
      width: 20%;
      max-width: 10rem;
      button:hover {
        background: white;
        border: 1px solid #793030;
        color: black;
      }
      a:hover > svg {
        transform: scale(1.3);
      }
    }
  }
}
